<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../style.css">
    <title> boston house price </title>
</head>
<body>
    <h2>
        veillez renseigner les information sur l'imobilier dont vous souhaitez connaitre la valeur 
    </h2>
    <div style="align-content: center;">
    <form action="/boston" method="post" >
        <label id="label"> CRIM <input type="text" name="crim"> </label><br><br>
        <label> ZN  <input type="text" name="zn"> </label><br><br>
        <label> INDUS <input type="text" name="indus"> </label><br><br>
        <label> CHAS <input type="text" name="chas" > </label><br><br>
        <label> NOX <input type="text" name="nox"> </label><br><br>
        <label> RM <input type="text" name="rm"> </label><br><br>
        <label>  AGE <input type="text" name="age"> </label><br><br>
        <label> DIS  <input type="text" name="dis"> </label><br><br>
        <label> RAD <input type="text" name="rad"> </label><br><br>
        <label> TAX <input type="text" name="tax"> </label><br><br>
        <label> PTRATIO <input type="text" name="ptratio"> </label><br><br>
        <label> B <input type="text" name="b"> </label><br><br>
        <label> LSTAT <input type="text" name="lstat"> </label><br><br>

        <button type="submit">predire </button>
    </form>
</div>
</body>
</html>